<div class="body__container">
    <div class="main-container">
        
        <div><%= realsex.POST_NO%></div>
        <div><%= realsex.TITLE%></div>
        <div><%= realsex.WRITE_DATE%></div>
    </div>
</div>