<div class="body__container">
    <div class="main-container">
        <div class="title_back">
            <div class="title">한도 문의 본문</div>
        </div>
        <div><%= realsex.POST_NO%></div>
        <div><%= realsex.TITLE%></div>
        <div><%= realsex.CONTENT%></div>
        <div><%= realsex.WRITE_DATE%></div>
    </div>
</div>