<div class="body__container">
    <div class="main-container">
        <div class="title_back">
            <div class="title">게시글</div>
        </div>
        <table class="blueone" border="1">
            <tr>
                <td class="table_title">제목</td>
                <td class="contentbackground"> &nbsp; <%= realsex.TITLE%></td>
            </tr>
            <tr>
                <td class="table_content">내용</td>
                <td class="contentbackground">&nbsp; <%= realsex.CONTENT%></td>
            </tr>
            <tr>
                <td class="table_title">작성일자</td>
                <td class="contentbackground"> &nbsp; <%= realsex.WRITE_DATE%></td>
            </tr>
            </tr>
            <tr>
                <td class="table_title">첨부파일</td>
                <td class="contentbackground"> &nbsp; <%= realsex.WRITE_DATE%></td>
            </tr>
        </table>

    </div>
</div>