<script defer src="./js/main.js"></script>
<script defer src="./js/background.js"></script>

<div class="body__container">
        <!-- VISUAL -->
        <section id = "mainbackground" class="section section--visual">
            <div class="inner">
                <div class="summary">
                    
                    <p class="main-description">
                        안전하고 신뢰성 있는 대부업체
                        <br>갚지 않으셔도 괜찮습니다.
                        <br>급전이 필요할땐?
                        
                    </p>
                    <p class="main-mens">
                        Men's
                    </p>
                    <div class="company-info">
                        
                    </div>
                </div>
                <div class="main-login">
                    <div>
                        <button class="facebooklogo"></button>
                        <button class="kakaologo"></button>
                        <button class="instalogo"></button>
                    </div>

                    <form id="sign-form" method="POST" action="">
                        
                        <ul>
                            <!--<li><input type="text" class="input--text" placeholder="ID를 입력하세요"></li>
                        <li><input type="password" class="input--text" placeholder="비밀번호를 입력하세요"></li>-->
                            <li>
                                <button type="submit" class="btn btn--primary">회원 로그인</button>
                                <button type="submit" class="btn btn--primary">비회원 로그인</button>
                                <p class="caption">회원이 되고싶으시면 회원 로그인을 클릭하세요.<br>이자율과 대출액 상한에 대한 혜택이 주어집니다.</p>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>
    </div>

