<script defer src="../js/map.js"></script>
    <div class="body__container">
        <section class="section section--intro">
            <div class="intro-cont">
                <div class="introduce">
                    <div class="intro-name">
                        Men's<br>전당대부
                    </div>
                    <div class="intro-list-block">
                        <li class="intro-list">문구입력해주세요.<br></li>
                        <li class="intro-list">문구입력해주세요?<br></li>
                        <li class="intro-list">문구입력해주세요!<br></li>
                        <li class="intro-list">문구입력해주세요@<br></li>
                    </div>
                </div>
                <div class="whereis">
                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8aa0e33ee74ad19f7b924b5e0ec3f870"></script>
                    <div id="map"></div>
                    <div class="int-summary">
                        <h2 class="mens-map">
                            Location
                        </h2>
                        <p class="mens-location">
                            서울특별시 강남구 논현로 146길 8-9 엔타시아빌딩 4층
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
