    <div class="body__container">

        <div class="main-container">
            <div class="title_back">
                <div class="title">대출 이력</div>
            </div>
            

            <div class="board">
                <div class="leftpadding">

                </div>
                <div class="mainboard">
                    
                </div>
                <div class="rightpadding">

                </div>
            </div>




            <!--
                <ul class="row">
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/list/CHANEL.jpg" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                    
                </ul>
                -->

        </div>
    </div>
