    <div class="body__container">

        <div class="main-container">
            <div class="list-container">
                <ul class="row">
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/list/CHANEL.jpg" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/list/LU.jfif" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/rolex.jpg" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/list/CHANEL.jpg" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/list/LU.jfif" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/rolex.jpg" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/list/CHANEL.jpg" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/list/LU.jfif" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/rolex.jpg" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                    <li class="cell">
                        <div class="img-box">
                            <img src="img/list/CHANEL.jpg" alt="">
                        </div>
                        <div class="dambo-name">담보임 ㅇㅇ;</div>
                        <div class="dambo-date">21.09.01</div>
                    </li>
                </ul>
            </div>
        </div>


    </div>
