<script defer src="../js/db.js"></script>
<div class="body__container">
    <div class="main-container">
        <div class="main_container">
            <!-- 왼쪽 컨테이너 -->
            <div class="leftContainer">
                <!-- 회원 이름 나오는 박스 -->
                <div id="userOutBox">
                    <!-- 회원 이름 나오는 동그라미 -->
                    <div id="userCircleBox">
                        이동건 회원님
                    </div>
                    <!-- 데코용 흰 네모 -->
                    <div id="userInBox"></div>
                </div>
            </div>
            <!-- 오른쪽 컨테이너 -->
            <div class="rightContainer">
                <!-- [대출] [내 한도 게시판] 버튼 -->
                <div class="rightTopContainer">
                    <a href="" class="choiceBox">
                        대출 현황
                    </a>
                    <a href="" class="choiceBox">
                        내 게시물
                    </a>
                </div>
                <!-- :대출 진행중: :대출완료/상환중: :상환완료: -->
                <div class="rightCenterContainer">
                    <!-- 실질적인 컨테이너 -->
                    <div class="rightCenter_left">
                        <!-- 물리적 데이터 나오는 곳 -->
                        <div class="loanStatus_top">
                            <!-- 대출 진행중 -->
                            <div class="loanState">
                                <div class="loanStateTextBox">
                                    대출 진행중
                                </div>
                                <div class="loanStateCircleBox">
                                    <div class="loanStateCircle">
                                        <%=loanState[0].count%> 건
                                    </div>
                                </div>
                            </div>
                            <!-- 대출완료/상환중 -->
                            <div class="loanState">
                                <div class="loanStateTextBox">
                                    대출완료/상환중
                                </div>
                                <div class="loanStateCircleBox">
                                    <div class="loanStateCircle">
                                        <%=loanState[1].count%> 건
                                    </div>
                                </div>
                            </div>
                            <!-- 상환완료 -->
                            <div class="loanState">
                                <div class="loanStateTextBox">
                                    상환완료
                                </div>
                                <div class="loanStateCircleBox">
                                    <div class="loanStateCircle">
                                        <%=loanState[2].count%> 건
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 날짜선택, 조회 버튼-->
                        <div class="loanStatus_bot">
                            <div class="loanSearchBox">
                                <table cellpadding="0" cellspacing="0" border="0" class="">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="loanDateGroup">
                                                    <a href="" class="loanDate">
                                                        <span>2021-11-17</span>
                                                        <span class="ico"></span>
                                                        <input type="hidden" id="" name="" value="" readonly>
                                                    </a>
                                                    <span class="wave">~</span>
                                                    <a href="" class="loanDate">
                                                        <span>2021-11-19</span>
                                                        <span class="ico"></span>
                                                        <input type="hidden" id="" name="" value="" readonly>
                                                    </a>
                                                    <div id="" class="" style="right: 0px; top: 29px; display: block; z-index: 1;">
                                                        
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="" class="searchButton">
                                                    전체조회
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 방구석 전당대부 그림 -->
                    <div class="rightCenter_right">
                        <div class="myPage_logo">

                        </div>
                    </div>
                </div>
                <!-- 대출 내역 or 내 한도 게시판 내역 -->
                <div class="rightBottomContainer">
                    <div class="hr">
                        <h4 class="loanDateBox">
                            2021-11-19
                        </h4>
                    </div>
                    <div class="loanInfo">
                        <div class="picture">

                        </div>
                        <div class="loanInfo_details">

                        </div>
                        <div class="loanDocuments">

                        </div>
                    </div>
                    <div class="hr">
                        <h4 class="loanDateBox">
                            2021-11-19
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>