<div class="body__container">

    <div class="main-container">
        <!--<form id="" name="" action="">
            <fieldset class="sign_in_field">
                <div class="tabletext" style="text-align: center;">회원가입</div>
                <p>ID : <input type="text" id="ID" class="input--text" placeholder="ID를 입력하세요"></p>
                <p>PASSWORD : <input type="password" id="Password" class="input--text" placeholder="비밀번호를 입력하세요"></p>
                <p>E-mail : <input type="email" id="E-mail" class="input--text" placeholder="ID를 입력하세요"></p>
                <p>주민번호 : <input type="text" id="jumin_no1" class="input--text" name="jumin_no1" size="10" maxlength="6">
                    -<input type="password" id="jumin_no2" class="input--text" name="jumin_no2" size="10" maxlength="7"></p>
            </fieldset>
        </form> -->
        <div class="main ">안녕하세요! <br> 방구석 전당대부 <br> 입니다 </div>
        <!-- content-->
        <div id="content">
            <form id="" name="" method="post" action="" class="form_login">
                    <!-- NAME -->
                    <div>
                        <h3 class="join_title"><label for="name">이름</label></h3>
                        <span class="box int_name">
                            <input type="text" id="name" class="int" maxlength="20" placeholder="이름 입력">
                        </span>
                        <span class="error_next_box"></span>
                    </div>
                    <!-- MOBILE -->
                    <div>
                        <h3 class="join_title"><label for="phoneNo">휴대전화</label></h3>
                        <span class="box int_mobile">
                            <input type="tel" id="mobile" class="int" maxlength="16" placeholder="전화번호 입력">
                        </span>
                        <span class="error_next_box"></span>
                    </div>
                    <div>
                        <h3 class="join_title"><label for="verNo">인증번호</label></h3>
                        <span class="box int_mobile">
                            <input type="tel" id="mobile" class="int" maxlength="16" placeholder="인증번호 입력">
                        </span>
                        <span class="error_next_box"></span>
                    </div>

                    <!-- JOIN BTN-->
                    <div class="btn_area">
                        <button type="button" id="btnJoin">
                            <span>가입하기</span>
                        </button>
                    </div>
            </form>
        </div>
        <!-- content-->



    </div>
</div>
