.body__container{
    background: #f5f6f7;
}
.main-container {
    background: #f5f6f7;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: auto;
    height: 100%;
    min-height:760px;
    position: relative;
    font-family: "Jua", sans-serif;
    display: block;
}
.title_back {
    padding-top: 2%;
}

.title {
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
}
.blueone {
    border-collapse: collapse;
    margin-left: 29.5%;
    margin-top: 50px;
    width: 800px;
    font-size: 18px;
}

.blueone tr {
    padding: 10px;
    color: #168;
    border-bottom: 2px solid #168;
    
}
.blueone .table_title {
    padding: 10px;
    width: 150px;
    color: #168;
    border-bottom: 2px solid #168;
    border-left:2px solid #168;
    border-top:2px solid #168;
    border-right: 1px solid gray;
    text-align: center;
    
}
.blueone .table_content {
    padding: 10px;
    height: 200px;
    width: 150px;
    color: #168;
    border-bottom: 2px solid #168;
    border-left:2px solid #168;
    border-right: 1px solid gray;
    text-align: center;
}
.contentbackground{
    background-color: rgba(240, 240, 240, 0.795);
    border-top:2px solid #168;
    border-right: 2px solid #168;
}
.contentbackground-file{
    height: 100%;
    background-color: rgba(240, 240, 240, 0.795);
    border-right: 2px solid #168;
    border-top:2px solid #168;
    
}
.commentarea{
    height: 100%;
    background-color: rgba(240, 240, 240, 0.795);
    display:block;
}
.rowcomment{
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #168;
    
}
.ATTA{
    padding-top:7px;
    padding-right:10px;
    display:block;
    width: 100%;
}
.comment{
    background-color: rgba(240, 240, 240, 0.795);
    border-right: 2px solid #168;
    height: 100px;
}
.blueone-com {
    border-collapse: collapse;
    
    margin-left: 29.5%;
    width: 800px;
    font-size: 18px;
    
}
.margin{
    background: #f5f6f7;
    height: 100px;
}

.blueone-com tr {
    padding: 10px;
    color: #168;
    border-bottom: 2px solid #168;
    border-right: 2px solid #168;
}
.blueone-com .table_title {
    padding: 10px;
    width: 150px;
    color: #168;
    border-bottom: 2px solid #168;
    border-left:2px solid #168;
    border-right: 1px solid gray;
    text-align: center;
    
}