.main-container {
    background: #f5f6f7;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: auto;
    height: 750px;
    position: relative;
    font-family: "Jua", sans-serif;
    display: block;
}

.write{
    margin-top: 30px;
    text-align: right;
    margin-right: 600px;
    
}
.write a{
    outline: 3px solid #168;
    box-shadow: 0 0 0 4px skyblue;
    border-radius: 5px;
    font-size: 30px;
    
}
.write a:hover{
    outline: 3px solid rgb(12, 83, 110);
    box-shadow: 0 0 0 4px rgb(83, 155, 184);
    border-radius: 8px;
    font-size: 30px;
}

.title_back {
    padding-top: 2%;
}

.title {
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
}

.blueone {
    border-collapse: collapse;
    margin-left: 29.5%;
    margin-top: 30px;
    width: 800px;
    font-size: 18px;
}

.blueone th {
    padding: 10px;
    color: #168;
    border-bottom: 3px solid #168;
    text-align: center;
}

.postno {
    border-right: 1px solid #ddd;
    width: 100px;
    text-align: center;
}

.posttitle{
    border-right: 1px solid #ddd;
    text-align: left;
    width: 400px;
}
.writedate{
    width: 100px;
    text-align: center;
}

.blueone td {
    color: #669;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    

}

.blueone tr:hover td {
    color: #004;
}
a{
    text-decoration: none;
    color: #669;
}
a:hover{
    color: #004;
}
.page{
    text-align: center;
}