body{
    background-color: rgb(230, 230, 230);
}
div{
    background-color: rgba(0, 0, 0, .1);
}
.section .inner {
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}


/* HEADER */
header {
    position: sticky;
    top:0;
    width: 100%;
    z-index:999;
    background-color: rgba(156, 156, 156,0.5);
    
}

header .inner {
    height: 80px;
}

header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
}

/* MAIN_MENU */
header .main-menu {
    display: flex;
    margin-left: 30px;
}

.main_btn {
    display: block;
    padding: 15px;
    color: black;
    border-bottom:1px solid gray;
    border-top:1px solid gray;
}

.main_btn:hover {
    color: #c08440;
    border-bottom:1px solid #976c3a;
    border-top:1px solid #976c3a;
}


.sign_up_btn{
    margin-left: 20px;
    display: block;
    padding: 15px;
    color: black;
    border:2px dashed gray;
}
.sign_up_btn:hover {
    color: #c08440;
    border:2px dashed #976c3a;
}
/* LOGO */
header .logo {
    margin: auto;
}

header .logo a {
    display: block;
    background: url("../img/Mens.png") center center ;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70px;
    height: 60px;
    margin:1px;
    padding:1px;
    text-indent: -9999px;
}

header .logo a:hover {
    background: ulr("../img/Mens.png")
}
.logo-text{
    margin-top:5px;
    width: 100px;
    color:black;
}
.info-text{
    margin-top:5px;
    width: 500px;
    color:#7e7e7e;
}

/* FOOTER */
footer {
    clear: both;
    background: rgb(30,30,30);
    border-top: 2px solid rgba(31, 24, 23, 0.75);
}

footer .inner {
    padding: 17px;
}


footer .site-links {
    display: flex;
}
footer .site-links.float--left {
    padding-top:10px;
}
footer .site-links.float--right {
    padding-bottom:1px;
}

footer .site-links li {
    font-size: 12px;
    margin-right: 10px;
    color: #767676;
}

footer .site-links li a {
    color: #4078c0
}

footer .site-links li a:hover {
    text-decoration: underline;
}

footer .footer-logo {
    display: block;
    background: url("../img/Mens.png") center center ;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
}
