.main-container {
    background: #f5f6f7;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 750px;
    position: relative;
    font-family: "Jua", sans-serif;
    display: block;
}

.title_back {
    padding-top: 2%;
}

.title {
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
}

.board {
    display: table;
    padding-top: 80px;
    margin: 0 auto;
    width: 1500px;
    height: 550px;
}

.leftpadding {
    display: table-cell;
    position: relative;
    width: 100px;
    height: 400px;
}

.rightpadding {
    display: table-cell;
    position: relative;
    width: 100px;
    height: 400px;
}

.mainboard {
    display: table;
    width: 1300px;
    height: 400px;
}

.center_container {
    display: none;
    height: 350px;
}

.center_container.active {
    display: block;
}

.side_section {
    display: table-cell;
    width: 150px;
    height: 400px;
    vertical-align: middle;
}

.left_arrow_ico_section {
    width: 100%;
    height: 30%;
}

.right_arrow_ico_section {
    width: 100%;
    height: 30%;
}

.left_arrow_ico {
    position: relative;
    width: 70px;
    height: 75px;
    left: 0%;
    background: url('../img/button/left_arrow_2.png') center center;
    background-size: 100%;
    cursor: pointer;
}

.right_arrow_ico {
    position: relative;
    width: 70px;
    height: 75px;
    right: -80px;
    background: url('../img/button/right_arrow_2.png') center center;
    background-size: 100%;
    cursor: pointer;
}

.slide_container {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.board_container {
    height: 350px;
    display: flex;
    list-style: none;
}

.selectCircles_container {
    width: 1000px;
    height: 50px;
}

.selectCircles_box {
    position: relative;
    width: 800px;
    height: 20px;
    margin: 0 auto;
    top: 12.5px;
}

.selectCircles {
    width: 800px;
    align-items: center;
    text-align: center;
}

.info_container {
    display: table-cell;
    width: 250px;
    height: 350px;
    vertical-align: middle;
}

.info_box {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: rgba(235, 224, 224, 0.7);
}

.info_top_section {
    width: 100%;
    height: 15%;
}

.info_middle_section {
    width: 100%;
    height: 70%;
}

.info_bottom_section {
    width: 100%;
    height: 15%;
}

.photo_section {
    width: 100%;
    height: 65%;
    vertical-align: middle;
}

.photoZone {
    position: absolute;
    top: 22%;
    width: 130px;
    height: 120px;
    background: rgb(255, 255, 255);
    border-radius: 12%;
    margin: 0 0 0 47.5px;
}

.photo {
    background: rgb(0, 0, 0);
}

.text_section {
    width: 100%;
    height: 35%;
    margin: 0 auto;
    vertical-align: center;
}

.textZone {
    width: 80%;
    height: 45%;
    margin: 0 0 0 30px;
    vertical-align: middle;
    align-content: center;
}

.productText {
    line-height: 80px;
    color: rgb(0, 0, 0);
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
}

.loanAmountText {
    line-height: 60px;
    color: rgb(107, 168, 224);
    font-size: 18px;
}

.userNameText {
    line-height: 45px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.photo_info_btn_section {
    width: 80px;
    height: 25px;
    background: rgb(27, 119, 206);
    border-radius: 5px;
    margin: 10px 0 0 30px;
    vertical-align: middle;
    text-align: center;
    line-height: 25px;
}

.photo_info_btn_section:hover {
    cursor: pointer;
}

.photo_info_btn_text {
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.selectCircles ul {
    width: calc(100% * 4);
    display: flex;
    transition: 1s;
}

.selectCircles li {
    width: calc(100% / 4);
    height: 300px;
}