.main-container {
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: auto;
    height: 850px;
    font-family: 'Jua', sans-serif;

}

.loan-top {
    display: block;
    font-size: 100px;
    font-weight: normal;
    padding-top: 80px;
    text-align: center;
    width: auto;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1),
        15px 15px 15px rgba(0, 0, 0, 0.1);
}

.loan-tb {
    display: flex;
    width: auto;
    height: auto;
    padding-top: 30px;
}

.loan-middle {
    display: flex;
    width: auto;
    height: auto;
}

.step1-img {
    padding-left: 410px;
}

.step2-img {
    padding-left: 220px;
}

.step3-img {
    padding-left: 200px;
}

.step4-img {
    padding-left: 200px;
}

.step1img {
    padding-left: 420px;
}

.step2img {
    padding-left: 240px;
}

.step3img {
    padding-left: 225px;
}

.step4img {
    padding-left: 230px;
}

table.type11 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
    padding-left: 300px;
    font-size: 20px;

}

.guide-btn {
    text-decoration-line: none;
    color: rgb(74, 118, 175);
}

.guide-btn:hover {
    text-decoration-line: none;
    color: violet;
}

table.type11 th {
    width: 300px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #60b1d1;
}

table.type11 td {
    width: 155px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: rgb(253, 253, 253);
}

.start {
    display: block;
    width: auto;
    height: auto;
    padding-top: 20px;
}

.startbutton {
    width: auto;
    height: auto;
    padding-left: 820px;

}

/*------------------------------------------------*/
.loan-top-how {
    display: block;
    font-size: 100px;
    font-weight: normal;
    padding-top: 80px;
    text-align: center;
    width: auto;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1),
        15px 15px 15px rgba(0, 0, 0, 0.1);
}

/*----------------------------------------------*/
.loan-mid-btn {
    display: block;
    margin-top: 100px;
}

.dacul-btn1 {
    height: 250px;
    width: 350px;
    padding-left: 510px;
}

.dacul-btn2 {
    height: 250px;
    width: 350px;
    padding-left: 190px;
}

/*----------------------------------------------*/
.loan-bottom-human {
    padding-left: 810px;

}

.human {
    width: 300px;
    height: 300px;
}





.bg1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.bg2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.bg3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.bg4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.bg5 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.bg6 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.bg7 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.bg8 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
    
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    /* 임시 지정 */
    width: 800px;
    height: 500px;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
}

.show .popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
}
.popup-top{
    display:flex;
    width: 100%;
    height: 80px;
    font-size: 55px;
    background-color: rgb(121, 164, 245);
}
.title_pop{
    margin-top:20px;
    text-align: center;
    width: 100%;
}
.close{
    width: 25px;
    height: 25px;
    margin-top: 30px;
    margin-right: 30px;
}