

/* input */
.input--text {
    justify-content: center;
    height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
}



/* VISUAL */
.section--visual {
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    padding-top:0;
    width: auto;
    height: 100%;
}
.section--visual::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.section--visual .inner {
    padding: 30px 0;
    display: flex;
}

.section--visual .summary {
    flex: 1;
}

.section--visual .summary__title {
    color: white;
    font-size: 70px;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, .75),
        15px 15px 15px rgba(0, 0, 0, .75);
}

.section--visual .summary__description {
    color: white;
    margin-top: 30px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25),
        10px 10px 10px rgba(0, 0, 0, .75);
}

.section--visual .main-login {
    margin-top: 450px;
    margin-right: 50px;
}
/* ----------------------------------- */
/* WHERE IS */
.section--intro {
    display:flex;
    justify-content: center;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: auto;
    height: 762px;
}
.intro-cont{
    width:1300px;
}

/* introduce */
.introduce{
    height: 270px;
    padding-top: 50px;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, .9),
    15px 15px 15px rgba(0, 0, 0, .9);
}
.intro-name{
    color:greenyellow;
    float:left;
    width:50%;
    text-align: center;
    padding-top: 20px;
    font-size:110px;
}
.intro-list-block{
    float:right;
    width:50%;
    margin-top:40px;
}
.intro-list{
    color:hotpink;
    list-style-type: none;
    text-align: left;
    font-size:35px;
    margin-top:15px;
}


/* map */
.whereis{
    margin-top:60px;
}
#map {
    border-radius: 15px;
    float: right;
    width: 50%;
    height: 300px;
}
.int-summary{
    float: left;
    width: 50%;
    text-align: center;
    padding-top:20px;
    color: white;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, .9),
    15px 15px 15px rgba(0, 0, 0, .9);
    
}
.mens-map{
    color:greenyellow;
    padding-top:10px;
    height: 100%;
    font-size: 80px;
}
.mens-location{
    color:hotpink;
    padding-top: 40px;
    font-size: 15px;
}
/*-------------------------------------------------------*/
.list-container{
    width:1300px;
}
/* introduce */
.list-top{
    height: 270px;
    padding-top: 50px;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, .9),
    15px 15px 15px rgba(0, 0, 0, .9);
    background: blue;
}
.list-left{
    color:greenyellow;
    float:left;
    width:50%;
    text-align: center;
    padding-top: 20px;
    font-size:110px;
}
.list-right{
    float:right;
    width:50%;
    margin-top:40px;
}
.list-bottom{
    background: hotpink;
    
    height: 270px;
    color:greenyellow;
    text-align: center;
    padding-top: 20px;
    font-size:110px;
}