.main-container {
    background: #f5f6f7;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: auto;
    height: 750px;
    position: relative;
    font-family: "Jua", sans-serif;
    display: block;
}
.title_back {
    padding-top: 2%;
    display: flex;
    text-align: center;
}

.title {
    margin-left:47%;
    font-size: 40px;
    margin-top: 20px;
}

.blueone{
    margin-top:20px;
}

.FUCK_in{
    margin-top:10px;
}
.FUCK{
    margin-top:20px;
}
.loan{
    padding-left: 42.5%;
    width: 20%;
}
.repay {
    padding-left: 42.5%;
    width: 20%;
}

.del {
    padding-left: 42.5%;
    width: 20%;
}
.submit_btn_td{
    text-align: center;
}


#content1st {
    display: block;
}

#content2nd {
    display: none;
}

#content3rd {
    display: none;
}

.buttoncontainer{
        margin-top:30px;
        margin-left: 30px;
}
.buttoncontainer #btn1st {
    color: rgb(88, 109, 204);
    margin-left: 20px;
    font-size: 30px;
    text-decoration-line: none;
}

.buttoncontainer #btn2nd {
    color: rgb(94, 169, 219);
    margin-left: 20px;
    font-size: 20px;
    text-decoration-line: none;
}

.buttoncontainer #btn3rd {
    color: rgb(94, 169, 219);
    margin-left: 20px;
    font-size: 20px;
    text-decoration-line: none;
}


