.main-container {
    /*background-image: url("../img/bg.jpg");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: auto;
    height: 750px;
    position: relative;
    font-family: "Jua", sans-serif;
    display: flex;
}


/*
.sign_in_field {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 1100px;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: whitesmoke;
    border: thick double #32a1ce;
}

p {
    margin-top: 20px;
}

.input--text {
    width: 290px;
    height: 30px;
    border: none;
    padding: 15px;
    font-size: 16px;
    color: #aaa;
    padding-top: 30px;
    margin-bottom:20px;
}
*/

.main {
    margin-top: 10.5%;
    padding-left: 28%;
    font-size: 40px;
}

body {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
}

#content {
    position: absolute;
    margin-top: 16%;
    left: 60%;
    transform: translate(-50%);
    width: 460px;
}

.comment {
    font-family: none;
    font-size: 12px;
}


/* 입력폼 */

h3 {
    overflow: hidden;
    position: relative;
    margin: 19px 0 22px;
    font-size: 12px;
    font-weight: 700;
}

.label {
    float: left;
    padding: 15px;
}

.box {
    float: left;
    position: relative;
    display: block;
    margin: 0 0 0 50px;
    width: 70%;
    height: 40px;
    border: solid 1px #dadada;
    padding: 3px 7px 0 7px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #fff;
    position: static;
}

.boxPhone {
    float: left;
    position: relative;
    display: block;
    margin: 0 0 0 22.1px;
    width: 70%;
    height: 40px;
    border: solid 1px #dadada;
    padding: 3px 7px 0 7px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #fff;
    position: static;
}

.int_n {
    float: left;
    position: relative;
    left: 0px;
    width: 100%;
    height: 30px;
    border: none;
    background: #fff;
    font-size: 14px;
}

.int {
    position: relative;
    left: 5px;
    width: 40%;
    height: 30px;
    padding: 0 0 0 5px;
    border: none;
    background: #fff;
    font-size: 14px;
}

input {
    font-family: Dotum, "돋움", Helvetica, sans-serif;
}

.box.int_id {
    padding-right: 110px;
}

.box.int_pass {
    padding-right: 40px;
}

.box.int_pass_check {
    padding-right: 40px;
}

.step_url {
    /*@naver.com*/
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    color: #8e8e8e;
}

.pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
}

#bir_wrap {
    display: table;
    width: 100%;
}

#bir_yy {
    display: table-cell;
    width: 147px;
}

#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
}

#bir_dd {
    display: table-cell;
    width: 147px;
}

#bir_mm,
#bir_dd {
    padding-left: 10px;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum, "돋움", Helvetica, sans-serif;
}


/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}


/* 버튼 */

.btn_area {
    margin: 30px 0 30px;
}

#btnJoin {
    position: relative;
    left: 125px;
    width: 60%;
    height: 40px;
    padding: 4px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background: linear-gradient( to left, rgba(59, 205, 250, 0.904), rgb(61, 161, 255));
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;
    font-family: "Jua", sans-serif;
}

#btnName {
    position: relative;
    left: 15px;
    width: 25%;
    height: 27px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background: linear-gradient( to left, rgba(59, 205, 250, 0.904), rgb(61, 161, 255));
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    font-family: "Jua", sans-serif;
}

#select {
    width: 25%;
    padding: 3px;
    border-radius: 3px;
    font-size: 13px;
    /* font-family: */
}