<meta charset="utf-8">
<div class="inner clearfix">

    <div class="menu-group float--left">
        <div class="logo">
            <a href="#">Men's전당대부</a>
        </div>
        <div class="logo-text">
            Men's<br>전당대부
        </div>
        <div class="info-text">
            대부업 등록번호 : 0000-0000-0000<br>이자율|월2%,년19.9%이내
        </div>
        <ul class="main-menu toggle">
            <li><a href="/int" target='_blank'>회사소개</a></li>
            <li><a href="/loan" target='_blank'>대출받기</a></li>
            <li><a href="/dambo"target='_blank'>담보인정품목</a></li>
            <li><a href="/dambolist"target='_blank'>담보내역</a></li>
        </ul>
    </div>

</div>