<meta charset="utf-8">
<div class="inner clearfix">

    <div class="menu-group float--left">
        <div class="logo">
            <a href="/">Men's 대부</a>
        </div>
        <div class="logo-text">
            방구석<br>대부
        </div>
        <div class="info-text">
        </div>
        
    </div>
    <div class="menu-group float--right">
        <ul class="main-menu toggle">
            <li><a class="main_btn" href="#intro">회사소개</a></li>
            <li><a class="main_btn" href="/loan" >대출</a></li>
            <li><a class="main_btn" href="/dambo">담보인정품목</a></li>
            <li><a class="main_btn" href="/dambolist">담보내역</a></li>
            <li><a class="sign_up_btn" href="/sign_up">회원가입</a></li>
        </ul>
    </div>
</div>