<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">




    <title><%=title %></title>

    <!-- global style-->
    <link rel="stylesheet" href="css/header_footer.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" media="(max-width: 1024px)" href="css/main_medium.css">
    <link rel="stylesheet" media="(max-width: 768px)" href="css/main_small.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/favicon.png">

    <link rel="stylesheet" href="css/layout.css">
    <!-- ejs css-select -->
    <% if(styleNo == 0) { %>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main_anime.scss">
    <% }else if(styleNo == 1) { %>
    <link rel="stylesheet" href="css/list.css">
    <% }else if(styleNo == 2) { %>
    <link rel="stylesheet" href="css/dambo.css">
    <% }else if(styleNo == 3) { %>
    <link rel="stylesheet" href="css/loan.css">
    <% }else if(styleNo == 4) { %>
    <link rel="stylesheet" href="css/sign_up.css">
    <% }else { %>
    <% } %>

</head>
<body>


    <header class="section">
        <%- include ('./header') %>
    </header>

    

    <section>
        <%- body %>
    </section>



    <footer class="section">
        <%- include ('./footer') %>
    </footer>

    

</body>

</html>